NEXT_PUBLIC_SUPABASE_URL=https://faclfoevvjprlctynukj.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZhY2xmb2V2dmpwcmxjdHludWtqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA4Mjc5OCwiZXhwIjoyMDg2NjU4Nzk4fQ.xADBTqrnNTG3R61EJsbESWYak8411qlWA1rqUCjuudY
